.popover.twake-notification-popover(tabindex="-1", force-margin-left="10")
  .popover-title.text-center #{__('Messages')}
  .popover-content
    twake-notification-list(scroll-inside-container='true', hide-popover='$hide()')
